h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    
}
p{
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    border: 3px solid red;
    width: 499px;
    margin: 15px;
    padding: 1px;
    
}
span{
    border: 3px solid blue;
}